@media screen and (min-width: 300px){
	body {
		font-family: Comfortaa;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 50px auto 1fr auto;
		grid-template-areas: 
			"header"
			"advert"
			"content"
			"footer";
		grid-gap: 10px;
		font-size: 16px;
	}

	header {
		grid-area: header;
	}

	content {
		grid-area: content;
		display: grid;
		grid-template-rows: auto auto ;
	}

	.planner {
		display: grid;
	}

	#mealAmount {
		display: grid;
		grid-template-rows: 20px;
	}

	h1 {
		font-family: Comfortaa;
		font-size: 40px;
		margin: 0.2em;
	}

	h2 {
		margin: 1em 0 0 0.25em;
		font-size: 20px;
	}

	h2: first-of-type {
		margin-top: 0.5em;
	}
}



@media screen and (min-width: 400px) {
	body {
		grid-template-rows: auto auto 1fr auto;

	}
}




/*table,
tr,
td {
	border: 1px gray;
}

table {
	border-collapse: collapse;
	margin: 0 auto;
}

tr {
	height: 100px;
}

td {
	width: 100px;
}*/

input[type=number] {
	width: 5em;
}