/** GERENAL STYLES **/

body {
	font-family: Comfortaa;
}

h2 {
	font-size: 20px;
	margin: 0px;
	padding: 0px;
}

span, ul {
	font-size: 16px;
}
/** HEADER **/
header {
	padding-left: 8px;
}

/** PLANNER INPUT **/
.planner {
	width: 100%;
	margin: 10px;
}

#mealAmount {
	display: flex;
}

#mealAmount > div {
	display: inline;
	padding: 10px;
}

/** MEAL PLAN CONTAINERS **/
#weekly-meal-plan {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

#weekly-meal-plan > div {
	width: 23%;
	min-width: 200px;
	min-height: 400px;
	padding: 5px;
	background-color: rgba(139, 176, 11, 0.2);
	border-radius: 5px;
}

#weekly-meal-plan > div > h3 {
	margin: 0px;
	padding: 13px;
	border-bottom: 2px solid rgba(139, 176, 11, 0.4);
}

#weekly-meal-plan > div > ul {
	padding-left: 20px;
}

#weekly-meal-plan > div > ul > li {
	padding-bottom: 10px;
	font-size: 16px;
	white-space: wrap;
}

/** BREAKFAST **/
/** LUNCH **/
/** DINNER **/
/** SNACK **/


/** SHOPPING LISTS **/
#shop-and-prep {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

#shoppingList {
	width: 50%;
	min-width: 200;
	min-height: 400px;
	margin: 5px;
	padding: 5px;
	background-color: rgba(139, 176, 11, 0.2);
	border-radius: 5px;

}

/** PREP **/

#prep {
	width: 50%;
	min-width: 200;
	min-height: 400px;
	margin: 5px;
	padding: 5px;
	background-color: rgba(139, 176, 11, 0.2);
	border-radius: 5px;

}


input[type=number] {
	width: 5em;
}