/** GERENAL STYLES **/

body {
	font-family: Comfortaa;
	margin: 0 auto;
	max-width: 1200px;
}

h1 {
	color: #386200;
}

h2 {
	font-size: 20px;
	margin: 0px;
	padding: 0px;
}

li {
	padding-bottom: 10px;
}

/** HEADER **/
header {
	padding-left: 8px;
}

/** PLANNER INPUT **/
.planner {
	width: 100%;
	margin: 10px;
}

#mealAmount {
	display: flex;
}

#mealAmount > div {
	display: inline;
	padding: 10px 10px 10px 0px;
}

/** MEAL PLAN CONTAINERS **/
#weekly-meal-plan {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

#weekly-meal-plan > div {
	width: 23%;
	min-width: 200px;
	min-height: 400px;
	padding: 5px;
	background-color: rgba(139, 176, 11, 0.2);
	border-radius: 5px;
}

#weekly-meal-plan > div h3 {
	margin: 0px;
}

#weekly-meal-plan > div > span {
	font-size: 13px;
}

.menuContainer {
	min-height: 300px;
}

.containerTitle {
	border-bottom: 2px solid rgba(139, 176, 11, 0.4);
	margin: 10px 5px;
	padding-bottom: 5px;
}

#weekly-meal-plan > div > ul {
	padding-left: 20px;
}

#weekly-meal-plan > div > ul > li {
	padding-bottom: 10px;
	font-size: 16px;
	white-space: wrap;
}

.prepTitle {
	border-bottom: 2px solid rgba(139, 176, 11, 0.4);
	margin: 10px 5px;
	padding-bottom: 5px;
}

.prepTitle > h4 {
	margin: 0;
}

/** SHOPPING LISTS **/
/*#shop-and-prep {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

#shoppingList {
	width: 50%;
	min-width: 200;
	min-height: 400px;
	margin: 5px;
	padding: 5px;
	background-color: rgba(139, 176, 11, 0.2);
	border-radius: 5px;

}*/
/**MEAL PLAN IN TABLE**/
table {
	border-collapse: collapse;
	width: 90%;
	margin-top: 20px;
	margin-bottom: 20px;
}
td, th {
	border: 1px solid rgba(139, 176, 11, 0.1);
	text-align: left;
	padding: 8px;
	width: 100px;
	max-width: 120px;
	text-overflow: wrap;
}

th {
	font-size: 1rem;
}

td {
	font-size: 0.8rem;
}

tr:nth-child(even) {
	background-color: rgba(139, 176, 11, 0.1);
}

input[type=number] {
	width: 5em;
}